<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mymediaplayer">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_library_music_24"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".mvvm.model.Singleton"
        android:theme="@style/Theme.MyMediaPlayer">
        <activity
            android:name=".mvvm.view.activities.DeletedActivity"
            android:exported="false" />
        <activity
            android:name=".mvvm.view.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".mvvm.view.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>